
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}



.container0 {
  height: 50px;
  margin: 30px 0px 0px 0px;
  width: 100%;
}
.container1 {
  margin: 10px 0px 20px 0px;
  height: 100%;
  width: 100%;
}

.gif {
  margin: 10px;
}

.container2 {
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0px 0px 0px 70px;
}

#grid {
  width: 1280px;
}

#grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  width: 25%;
  margin: 0px 0px 25px 0px;
}

.box3 {
  width: 300px;
}

.wrap {
  position: relative;
  width: 300px;
  border: none;
	border-radius: 5px;
}


.gifhover {
  position: absolute;
  line-height: 100px;
  border-radius: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;

   transition 
  transition: opacity .2s, visibility .2s;
}



.rating {
	position: absolute;
	right: 5px;
	top: -22px;
	color: white;
}

.wrap:hover .gifhover {
  visibility: visible;
  opacity: 1;
	transition: box-shadow 0.3s ease-in-out;
	transition: 1s;
}

/*ul {
  width: 95%;
  clear: both;
  display: block;
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
  -webkit-column-gap: 0px;
     -moz-column-gap: 0px;
          column-gap: 0px;
}

li {
	line-height: 1.5em;
  display: inline-block;
  width: 95%;
  vertical-align: top;
	float: right;
}*/

/*#grid li {
	width: 25%;
}*/